<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $productsCategory->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $productsCategory->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Products Categories'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Products'), ['controller' => 'Products', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Product'), ['controller' => 'Products', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Categories'), ['controller' => 'Categories', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Category'), ['controller' => 'Categories', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="productsCategories form large-9 medium-8 columns content">
    <?= $this->Form->create($productsCategory) ?>
    <fieldset>
        <legend><?= __('Edit Products Category') ?></legend>
        <?php
            echo $this->Form->input('products_id', ['options' => $products]);
            echo $this->Form->input('categories_id', ['options' => $categories]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
