 * {
	font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color : #333e48;
}

#body-content {
    border: none;
    div.large-12:not(.product-specifications){
    border: none;
    }
    .screen{
	   min-height: 400px;
    }
    #categories-products, #brands-products{
        min-height: 40px;
    }
}

.title_1{
    border-bottom: 1px solid #dadada;
    margin-left: 15px;
    &::after{
    	content: ' ';
		border-color: #fed700;
		width: 3.684em;
    	border-bottom: 2px solid transparent;
    	display: block;
    	position: absolute;
    	bottom: -1px;
    	}
	}

.content_text_1{
	padding: 10px;
}

.search-section

{
    .search-input input{
        border-color: #fed700;
        border-radius: 8px 0 0 8px;
    }
    .search-icon{
        background-color: #fed700;
        border-radius: 0 8px 8px 0;
            }
}

.top-bar, .top-bar ul {
    background-color: #fed700;
    li a{
        background-color: #fed700;
        color: black;
    }
    li.is-submenu-item {
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px solid #dadada;
    }
    .is-submenu-item{

        a{

            background-color: #fff;
        }
    }

}

#header{
    padding-top: 0px;
    border: none;
    box-shadow: none;
    select, option{
        color: red;
    }
    .top-menu{
        margin-bottom: 20px;
    }
}
#second-footer-menu{
    border: none;
    ul {
    background-color: #fed700;
    width: 100%;
    margin-left: 0px;
        li{
            float: none;
            display: inline-block;
             a{
                background-color: #fed700;
                color: black;
            }
        }

    }
}
#footer{
     border: 1px solid #dadada;
}
.logo_link{
    width: 220px;
    height: 100px;
}

.pic_shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box_resume{
        min-height: 100px;
        border: solid 1px;
        border-color: #fed700;
        border-radius: 8px;
        padding: 5px;
}
#banner .orbit{
    max-height: 650px;
    .orbit-slide{
        width: 80%;
        margin-left: 10%;
        margin-top: 0px;
    }
    .orbit-bullets{
        margin-bottom: -20px;
    }
}
.product-discount{
    font-size: 1.5em;
}

.welcome_li{
    position: absolute;
    left: 250px;
    top: 8px;
    //margin-right: 200px;
}
#logout_link{
    margin-left: 50px;
}
.form-error{
    display: block;
}
.admDash{
    body{
        background-color: #F4F5F6;
       }

            .dashPanel{
                height: 200px;
               h5{
                color: #fff;
               }
            }
            .dPanRed{
                background-color: #f05a49;       
            }
            .dPanOrange{
                background-color: #ff9f00;  
            }
            .dPanGreen{
                background-color: #35bc7a;
            }
            .dPanBlue{
                background-color: #1e8bc3
            }
            .iconDash{
               display: block; 
               padding: 40px 80px;
               font-size: 50px;
               color: #fff;
            }
        #admin{
            min-height: 800px;
            margin-top: 130px;
             div.large-12{
                min-height: 200px;
                margin: 0px;
                }
             #featured-products{
                margin-top: 50px;
                }   
            }       
}

.error-message{
    color: red;
    position: relative;
    top: -15px;
}
.price {
    display: block;
    // padding-right: 10px;
    text-align: right;
}

//@media screen and (min-width: 40em)
.col5-unit:last-child:not(:first-child) {
    float: clear;
    float: left;
}
.col5-unit{
   // float: left;
}
#login-dropdown p {
    text-transform: none;
    text-align: center;
    width: 100%;
}
#login-dropdown form .submit-row .submit {
    float: none;
    margin-top: 65px;
}

.login-form p{
    text-transform: none;
}
.captcha-box .BDC_CaptchaDiv{
    text-align: center;
    width: 100%;
    margin-left: 100px !important;
    
}
.captcha-box{
    label{

        width: 45%;
        float: left;
    }
     .input .text{
        margin-top: 10px;
        input{
            float: right;
        }

     }
    }
.admDash .content{
    padding-right: 10px;
    text-align: right;
    table{
        th a{
            color: black;
        }
        tbody{
            td{
                text-align: left;
                &:last-child{
                    text-align: center;
                }
                &.center{
                    text-align: center;
                }
                a{
                    color: black;
                    font-weight: 600;
                }
            }
        }
    }
}    
.dashPanel{
    border: solid 5px white;
}

.pagination {
    .prev a, .next a{
        //background: #f7f5f7;
        background-image: url('../img/sprevious.png');
        background-size: 20px 10px;
        background-repeat: no-repeat;
        background-position: 0 10px;
        height: 20px;
        :hover{
            background-color: none;
        }
    }
    .next a{
        //background: #f7f5f7;
        background-image: url('../img/snext.png');
    }
}
.input.required::after{

    color: red !important;
}
.faq_title{
    font-size: 1.2em;
}
.categories-products{
    .product
    {
        float: left;
        min-height: 320px;
        }
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
   display: block;
}

* html .clearfix {
   height: 1%;
}
#featured-products{
    .product{
        min-height: 320px;
    }
}
