#footer{
	border: 2px solid #000;
}
#footer-menu{
	ul{
		li{
			a{
				text-transform: capitalize;
			}
		}
	}
}
#second-footer-menu{
	border: 2px solid  #000;
	clear: both;
	text-align: center;
	ul{
		display: inline-block;
		li{
			float: left;
			position: relative;
			&::after{
				border-right: 2px solid  #000;
				display: inline-block;
				content: "";
				height: 14px;
				position: absolute;
				top: 6px;
			}
			&:last-child{
				&::after{
					border-right: 0;
				}
			}
			a{
				padding: 0 30px;
				text-transform: capitalize;
			}
		}
	}
}
#social-section{
	text-align: center;
	a{
		margin: 0 2%;
	}
	i{
		font-size: 50px;
	}
}
.copyright{
	p{
		margin: 0;
		text-align: center;
		font-size: 10px;
	}
}