#header{
	border: 2px solid  #000;
	box-shadow: 2px 2px 5px #ccc;
	padding-top: 15px;
}
// menu section
#responsive-toggle-menu{
	clear: both;
}
.top-menu{
	margin-bottom: 65px;
}

#main-menu{
	.top-bar-left{
		width: 100%;
		> ul{
			> li{
				display: inline-block;
				> a{
					text-transform: capitalize;
					padding: 7px 87px;
				}
			}
		}
	}
}
.submenu{
	width: 100%;
}
.search-section{
	min-height: 45px;
	padding: 0;
	position: relative;
	.search-input{
		padding-right: 0;
		input{
			height: 100%;
			border-radius: 8px;
			margin: 0;
			height: 40px;
		}
	}
	.search-icon{
		text-align: center;
		background-color: #f2f2f2;
		padding: 0;
		label{
			line-height: inherit;
		}
		button{
			display: block;
			width: 100%;
		}
		i{
			font-size: 27px;
			display: inline-block;
			width: 100%;
			margin: 0.2em 0;
		}
	}

	#search-results	{
		position:absolute;
		top: 45px;
		left: 15px;
		width:350px;
		display:none;
		z-index: 10;
		border:solid 1px #dedede;
		border-top:0px;
		overflow:hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 1px;
		border-style: solid;
		border-color: #DEDEDE #DEDEDE;
		background-color: white;

		ul{
			margin: 0;
			li{
				border-bottom: 1px solid  #6d6d6d;
				display: block;
				padding: 3px;
				padding-left: 10px;
				a{
					display: block;
					color: #595959;
				}
				&:hover{
					background-color: #f4f4f4;
				}
			}
		}
	}
}
.input.text.error{
	border: 2px solid red;
	text-align: center;
	border-radius: 8px 0 0 8px;
	line-height: 36px;
}

// login dropdown
#login-dropdown{
	padding: 20px;
	width: 400px;
	h5, p{
		margin-top: 15px;
		text-align: center;
		text-transform: uppercase;
	}
	#wrong-data, #reset-data{
		font-size: 12px;
		position: absolute;
		top: 0;
		background-color: red;
		width: 100%;
		margin-left: -20px;
	}
	form{
		padding: 15px;
		.submit-row{
			.forgot{
				float: left;
				margin: 0;
			}
			.submit{
				float: right;
				margin-bottom: 0;
			}
		}
	}
	.forgot{
		a{
			text-transform: initial;
		}
	}
	.row:last-child{
		position: relative;
	}
	.loading-gif{
		position: absolute;
		top: 67px;
		left: 65%;
		width: 35px;
		display: none;
	}
}
// menu cart
.menu{
	.cart{
		i{
			font-size: 35px;
			position: relative;
			top: -3px;
		}
		a{
			position: relative;
			padding: 3px 1rem;
			span{
				position: relative;
				top: 5px;
				color: #7a7a7a;
				&.count{
					top: 3px;
					margin-right: 1px;
				}
			}
		}
	}
}