// for homepage
.product{
	text-align: center;
	img{
		&.cover{
			max-width: 150px;
			min-width: 150px;
			max-height: 150px;
			min-height: 150px;
		}
	}
	.product-data{
		p{
			margin: 0;
			color: #0a0a0a;

			&.product-name{
				color: #2199e8;
			}
		}
		.star-rating{
			img{
				width: 55%;
				position: relative;
				bottom: 3px;
			}
		}
	}
}
.brand{
	text-align: center;
}
.products.view{
	.rating-wrapper{
		position: relative;

		form{
			display: none;
		}
	}
	.loading-gif-wrapper{
		position: absolute;
		max-width: 30px;
		top: 13px;
		right: 0;
		display: none;
	}
}
.guest_view{
	form.star-form{
		display: none;
	}
	.product-info{
		p{
			span{
				font-weight: 600;
				padding-right: 15px;
			}
		}
	}
}
.order_items.add{
	.product-info{
		p{
			span{
				font-weight: 600;
				padding-right: 15px;
			}
		}
	}
}
// cart
.add-cart-form{
	width: 100%;
	margin: 0;
	float: left;

	.input.number{
		float: left;
		label{
			float: left;
			font-weight: 600;
			margin-right: 10px;
		}
		input{
			max-width: 60px;
			margin: 0;
			max-height: 30px;
		}
	}
}
.product-info{
	position: relative;
	.box_resume_2{
		margin-top: 15px;
	}
	.availability{
		width: 50%;
		float: right;
	}
	.price{
		font-size: 2em;
		clear: both;
		display: inline-block;
		margin-top: 20px;
		position: relative;
		width: 70%;
	}
	.rate-label{
		min-height: 47px;
		line-height: 3;
		display: none;
	}
	button[type="submit"]{
		margin-top: 15px;
		float: right;
	}
	.guest{ margin-top: 15px; float: right;}
	.error{
		border: 2px solid red;
		position: absolute;
		margin-top: 5px;
		min-width: 210px;
	}
	.loading-gif{
		display: none;
		position: absolute;
		right: 0;
		max-width: 30px;
	}
}
// for order-items add
form.star-form{
	display: none;
}

// guest-view
.product-images{
	max-height: 400px;
	text-align: center;

	img{
		max-height: inherit;
	}
	.product-rating{
		float: none;
		.jq-star[style]{
			width: 22px !important;
			height: 22px !important;
		}
	}
	.general-rating{
		.star-rating{
			img{
				max-width: 126px;
			}
		}
	}
}
.guest_view, .order_items.add{
	.product-name{
		font-size: 1.5em;
	}
	.product-rate{
		img{
			max-width: 140px;
		}
	}
	.fb-like{
		img{
			max-width: 70px;
		}
	}
}
.product-specifications{
	min-height: 150px;
	border: 2px solid  #000;
}
.product-rating{
	text-align: center;
	position: relative;
	top: 4px;
}
.products_category .product-rating{
	margin-bottom: -3px;
}
// products-discounts
.discounts{
	a{
		img{
			&.cover{
				max-height: 150px;
				min-height: 150px;
				max-width: 100%;
				margin-bottom: 15px;
			}
		}
	}
	&.col5-unit{
			> a{
				display: inline-block;
			}
	}
}

.row-discount{
	margin: 60px 0;
	&:first-of-type{
		margin-top: 0;
	}
}

// related products
.manage{
	form{
		.checkbox{
			clear: both;
			display: block;

			label{
				text-align: left;
				padding-left: 10px;
			}
			input{
				float: left;
				position: relative;
				top: 5px;
			}
		}
		.button{
			display: block;
			max-width: 300px;
			margin: 0 auto;
			margin-top: 30px;
			margin-bottom: 30px;
			min-width: 100px;
			display: block;
			clear: both;
		}
	}
	.options{
		.input.select{
			border: 2px solid #000;
			border-top: 0;
			max-width: 300px;
			max-height: 200px;
			min-height: 200px;
			overflow: auto;
			margin: 0 auto;
		}
		p{
			border: 2px solid #000;
			position: relative;
			font-size: 14px;
			padding-left: 10px;
			.check-all{
				margin: 0;
				position: relative;
				top: 2px;
			}
			span{
				font-size: inherit;
				display: block;
				display: inline-block;
				width: 85%;
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 5px;
				border-right: 2px solid #757575;
				cursor: pointer;
			}
			span.arrow{
				display: inline-block;
				width: 29px;
				cursor: pointer;
				background-image: url('../img/arrow.png');
				border: 0;
				height: 28px;
				position: absolute;
				background-size: cover;
			}
		}
	}
	.large-6{
		h3, p{
			max-width: 300px;
			margin: 0 auto;
		}
	}
}
// star rating
.brands{
	&.guest_view, &.products_brand{
		.product-rating .jq-star[style]{
			width: 22px !important;
			height: 22px !important;
		}
	}
}

// zoom

.product-images{
	padding-top: 40px;
	.main{
		img{
			min-height: 250px;
			max-height: 320px;
		}
		&:hover{
			cursor: url(../img/zoom.png), auto;
		}
	}
}
// spinners
.products.guest_view, .home, .categories, .brands, .orders, .guest_view, .orders, .order_items{
	.ui-button .ui-icon{
		background-image: url('../img/ui-icons.png');
	}
}
.orders.view {
	.ui-button .ui-icon{
		background-image: url('../img/ui-icons.png');
	}
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
.products.guest_view .star-rating{
	display: inline-block;
	max-width: 108px;
	position: relative;
}
.products.guest_view .star-rating img{
	position: relative;
	bottom: 3px;
}
.home .product .product-data .star-rating img{
	bottom: 0;
}
.row.add-product{
	.spec{
		// border: 2px solid red;
		.price{
			text-align: left;
			padding-left: 5px;
		}
	}
}
.discounts{
	color: #27d267;
	font-size: 1.1em;
	span{
		font-weight: bold;
	}
}
// mantis bug 795
.product-name{
	line-height: 1;
	height: 50px;
	width: 200px;
	display: table-cell;
	vertical-align: middle;
	&.modal{
		width: 100%;
	}
}
.products.guest_view, .order_items.add{
	.product-name{
		width: 100%;
	}
	.percentages{
		text-align: center;
	}
}