.results-wrapper{
	.row{
		display: flex;
		justify-content: center;
	  align-items: center;
	  margin: 15px 0;
	}
	.image{
		img{
			max-width: 250px;
			min-width: 250px;
			max-height: 250px;
			min-height: 250px;
		}
	}
	.description{
		position: relative;
		.name{
			font-size: 1.6em;
			position: relative;
			// top: -20px;
			text-decoration: underline;
			margin: 0;
		}
	}
	.details{
		.star-rating{
			img{
				max-width: 180px;
				display: block;
				margin: 0 auto;
			}
		}
		.product-rating{ text-align: center;}
		.price{
			text-align: center;
			font-size: 2.5em;
		}
		.quantity{
			span{
				padding-right: 5px;
				font-weight: 600;
			}
		}
	}
	.discount{
		font-size: 1.2em;
		text-align: center;
	}
	.empty{
		span{
			font-size: 3em;
		}
	}
	.pagination{
		li{
			&.active{
				a{
					padding: 0.1875rem 0.625rem;
					background-color: #2199e8;
					color: #fefefe;
				}
			}
			&.disabled{
				color: #cacaca;
				a{
					color: inherit;
					cursor: not-allowed;
				}
			}
		}
		a{
			display: inline-block;
			padding: 10px;
			color: #0a0a0a;
		}
	}
}
.related{
	margin-left: 1em;
	padding-left: 0.9375em;
	span{
		font-weight: bold;
		font-size: 1.5em;
	}
	a{
		display: inline-block;
		margin: 0 10px;
	}
}