.logout{
	position: relative;
	span{
		position: absolute;
		left: -8em;
		top: 5px;
	}
}
body.forgetpass{margin: 0}
.forgetpass{
	margin: 100px 0;
	legend{
		margin: 50px 0;
	}
	.medium-10{
		float: none !important;
		margin-bottom: 90px;
	}
	.submit{
		margin: 0 auto;
		display: block;
		width: 250px;
	}
}
.login-form{
	margin: 100px 0;
	h4, p{
		text-align: center;
		text-transform: uppercase;
	}
	.submit{
		margin: 0 auto;
		display: block;
		width: 250px;
	}
}
// add
.wrapper.users-add{
	padding-top: 20px;
}
.users.add.banner{
	fieldset{
		min-height: 450px;
		border: 2px solid  #ccc;
	}
}
.users.add.content{
	legend{
		width: 100%;
		text-align: center;
		font-size: 30px;
	}
	p{
		text-align: center;
		text-transform: uppercase;
	}
	.submit{
		width: 100px;
		margin: 0 auto;
		margin-bottom: 20px;
		display: block;
	}
}
// change password
.change_pass, .new_password{
	.users{
		padding: 50px 0;
		legend{
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			font-size: 25px;
		}
		p{
			text-align: center;
			margin-bottom: 50px;
		}
		.submit{
			width: 100px;
			display: block;
			margin: 0 auto;
			margin-top: 50px;
		}
	}
}
// forgot your password
.forgetpass.form > .medium-centered{
	position: relative;

	button{
		margin-top: 20px;
	}
}
.forgetpass .breadcrumb-wrapper{
	display: none;
}

.forgetpass.form h3{
	text-align: center;
	text-transform: uppercase;
}
.forgetpass.form p{
	text-align: center;
}

.forgetpass.form fieldset{
	padding-top: 50px;
}

.forgetpass.form p.confirm{
	border: 2px solid #008900;
	box-shadow: 0 0 10px #004200;
	border-radius: 5px;
	margin: 20px 0;
}

// users shopping cart
.shopping-cart-container{
	> h1{
		text-transform: uppercase;
		text-align: center;
	}
	.product-item{
		.product-name{
			padding-left: 15px;
			margin-top: -8px;
		}
		margin: 50px 0;
		.specifications{
			.description, fieldset{
				border: 1px solid  #000;
				min-height: 150px;
			}
			.description{
				p{
					margin: 20px 0;
					padding-left: 15px;
				}
			}
		}
		.quantity{
			position: relative;
			label{
				text-align: right;
				padding-right: 10px;
			}
			.quantity-input{
				// width: 30%;
				float: left;
				max-height: 28px;
				margin: 0;
				padding: 0 10px;
				&::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
					// opacity: 1;
				}
			}
			p{
				clear: both;
				text-align: center;
			}
			form{
				.button{
					$color: #3adb76;
					background-color: darken($color, 13%);
					max-height: 28px;
					padding: 6px;
					margin-left: 3px;
				}
				.loading-gif{
					position: absolute;
					right: 42px;
					top: 35px;
				}
				.success{
					position: absolute;
					right: 35px;
					top: 35px;
					max-width: 35px;
					display: none;
				}
			}
			.input.number.required{
				float: left;
			}
		}
		div.remove{
			text-align: center;
			a{
				border-bottom-width: 1px;
				border-bottom-style: solid;
				padding-bottom: 2px;
			}
		}
	}// product-item
	.summary{
		h3{
			span{
				float: right;
			}
			&.order-total{
				margin-top: 30px;
				text-align: right;
				span{
					padding-left: 100px;
				}
			}
		}
		legend{
			font-size: 1.25em;
		}
		.total-discounts{
			position: relative;
			text-align: right;
			font-size: 1.5em;
			span{
				float: right;
				padding-left: 100px;
			}
		}
		.order-total{
		}
	}
}// shopping-cart-container

// order form
.orders.order_form{
	.breadcrumbs{
		visibility: hidden;
	}
	.page-title{
		text-transform: uppercase;
		text-align: center;
	}
	.shipping-info{
		table{
			th{
				text-align: left;
				padding-left: 5rem;
				width: 200px;
				margin: 0;
				&.edit-information{
					a{
						position: absolute;
						font-weight: lighter;
						text-decoration: underline;
					}
				}
			}
			td{
				display: block;
				width: 100px;
				margin: 0;
			}
			tr{
				&:nth-child(even){
					background-color: transparent !important;
				}
			}
		}
	}// shipping-info
	.review-items{
		.product-item{
			margin: 45px 0;
			.product-name{
				padding-left: 0;
				a{
					color: #000;
				}
			}
			.input.number{
				display: inline-block;
				input{
					max-width: 60px;
					max-height: 30px;
					margin: 0;
				}
				label{
					float: left;
					font-weight: 600;
					margin-right: 10px;
				}
			}
			.availability{
				display: inline-block;
				margin-left: 15px;
			}
		}
	}
}