@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// general styles
ul{
	list-style-type: none;
}

@import "mixins";
@import "header";

#body-content{
	border: 2px solid  #939393;
	div.large-12{
		// border: 2px solid  #ccc;
		// min-height: 250px;
		margin: 15px 0;
	}
	#banner{
		min-height: 400px;
	}
}
// homepage
.home{
	#body-content{
		.featured{
			padding-top: 15px;
		}
	}
}
@import "products";
@import "users";
@import "banner";
@import "search";

@import "footer";
@import "base";

// utilities
// breadcrumbs
.breadcrumb-wrapper{
	margin: 20px 0 10px 0;
	ul{
		margin: 0;
		li{
			font-size: 0.93em;
			text-transform: capitalize;
			a{
				font-size: inherit;
				text-transform: inherit;
			}
		}
	}
}
body.orders.view, body.order_items.index{
	.breadcrumbs{
		visibility: hidden;
	}
}
// flash messages
.message{
	position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
	&.success{
		background-color: #84d684;
	}
	&.error{
		background-color: #e00000;
	}
}
.hidden{
	transition: height ease 50s;
	height: 0;
}
//fieldsets
fieldset{
	border: 1px solid #6b6b6b;
	border-radius: 5px;
	padding: 15px;
	legend{
		padding: 5px;
		font-size: 25px;
		border-radius: 5px;
		margin-left: 30px;
	}
}
.submit{
	display: block;
	width: 100px;
	margin: 15px auto;
}
// input required
.input{
	position: relative;

	&.required{
		&::after{
			content: '*';
			font-size: 18px;
			position: absolute;
			top: 25%;
			left: -10px;
		}
	}
}
// discounts
.discount{
	color: #27d267;
	font-size: 2em;
}
.total-discounts span{
	color: #27d267;
}
.order_form{
	fieldset{
		border: 0;
		padding-left: 0;
	}
	.discount{
		span{
			font-size: 0.72em;
			&.discount-name{
				text-transform: capitalize;
			}
		}
	}
	.shipping-info{
		table{
			tbody{
				height: 170px;
				display: block;
			}
		}
	}
}
// .order_form .shipping-info table tbody{
// 	height: 170px;
// 	display: block;
// }
// shopping cart
#header .top-section{
	position: relative;
}
.empty-cart{
	margin-top: 50px;
	margin-bottom: 80px;
	text-shadow: 0 0 8px #000;
	text-align: center;
	a{
		text-shadow: none;
	}
}
.cart{
	position: absolute;

	a{
		font-size: 1.2em;
		padding-right: 30px !important;
	}
	i{
		// position: absolute;
		// right: 0;
		font-size: 27px;
		max-width: 25px;
		max-height: 25px;
		img{
			width: 100%;
		}
	}
}
// add cart element
.add-cart-trigger{
	margin-top: 10px;
	background-color: #093b5c;
}
/* .products_category .add-cart-trigger{
	margin-top: 8px;
} */
.row.add-product{
	position: relative;
	.spec{
		p{
			span{
				font-weight: 600;
			}
		}
		position: relative;
		.box_resume{
			min-height: 180px;
			margin-bottom: 15px;
		}
		form{
			.input.number{
				float: none;
				display: inline-block;
			}
			.add-cart-button{
				display: inline-block;
				padding: 7px 15px;
				position: relative;
				top: 7px;
				left: 25px;
			}
		}
		.loading-gif{
			position: absolute;
			right: 20px;
			bottom: 8px;
			width: 30px;
		}
	}// spec
	.image{
		min-height: 180px;
		max-height: 212px;
		// display: flex;
		justify-content: center;
		align-items: center;
		&:hover{
			cursor: url(../img/zoom.png), auto;
		}
	}
	.product-discount{
		margin-top: 60px;
		position: absolute;
		left: 20px;
		bottom: -15px;
		max-width: 200px;
		max-width: 180px;
	}
}// .row.add-product

// featured products styles for home case
.home #featured-products .product-rating{
	display: inline-block
}

.home #featured-products .product-rating .jq-star[style], .guest_view .product-rating .jq-star[style], .products_category .product-rating .jq-star[style], .order_items.add .product-rating .jq-star[style]{
	width: 22px !important;
	height: 22px !important;
}
// pages contact-us
.thanks-message{
	border: 2px solid #000;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	padding-top: 80px;
	position: relative;

	p{
		max-width: 70%;
		margin: 50px auto;
	}
	a{
		color: #0a0a0a;
		display: inline-block;
		padding: 0 20px;
		margin: 50px 0;
		border: 2px solid #000;
		box-shadow: 5px 5px 8px #000;
	}
}

.close{
  position: absolute;
	top: 15px;
	right: 15px;
  display: inline-block;
  width: 22px;
  height: 22px;
  overflow: hidden;

  &::before, &::after{
  	content: '';
  	position: absolute;
  	width: 100%;
  	top: 50%;
  	left: 0;
  	margin-top: -1px;
  	background: #000;
  	height: 2px;
  	margin-top: -2px;
  }
  &::before{
  	transform: rotate(45deg);
  }
  &::after{
  	transform: rotate(-45deg);
  }
}

// order-form
.delete-msg{
	p{
		text-align: center;
	}
	max-width: 600px;
	margin: 0 auto;
}
.product-item{
	.loading-gif{
		max-width: 30px;
		display: none;
	}
	.box_resume_2{
		> div{
			float: left;
		}
		.product-price{
			float: right;
		}
	}
	fieldset{
		clear: both;
	}
}
.orders.order_form{
	.summary{
		> h3{
			font-size: 1.9375rem;
			span{
				float: right;
			}
		}
		.total-discounts, .order-total{
			text-align: right;
			font-size: 1.5em;
			span{
				float: right;
				padding-left: 100px;
			}
		}
		.order-total{
			font-size: 1.9375rem;
		}
		.confirm-btn{
			float: right;
			margin-top: 50px;
		}
	}
}
.orders.confirm_order{
	.breadcrumbs{
		visibility: hidden;
	}
}
.dash_board #featured-products .product-rating .jq-star[style]{
	width: 22px !important;
	height: 22px !important;
}
.dash_board .product .product-data p{
	display: inline-block;
}
.dash_board .product-rating{
	display: inline-block;
	position: relative;
	top: 4px;
}
@-moz-document url-prefix() {
  .users.add fieldset {
     max-width: 97%;
  }
}
// pagination styles
.pagination .prev  a, .pagination .next  a{
	height: auto;
}
.pagination .active a{
	background-color: #1779ba;
	color: #fafafa;
}
.pagination .disabled a{
	color: #cacaca;
	cursor: not-allowed;
}
// products discounts
.products_discounts.guest_view .discounts{
	text-align: center;
}
.products_discounts.guest_view .discounts .product-discount{
	margin: 0;
}
.products_discounts.guest_view .discounts .product-rate .star-rating img {
	max-width: 105px;
}
// cart sticky
#cart-sticky{
	display: none;
	position: fixed;
	left: 0;
	top: 30%;
	margin-top: -54px;
	transition: all ease 2s;
	z-index: 5;
	i{
		display: block;
		font-size: 30px;
		text-align: center;
		margin-bottom: -10px;
	}
	span{
		font-size: 1.2em;
		color: #7a7a7a;
	}
}
// empty cart
.empty-cart img{
	max-width: 30px;
}
.orders.view #cart-sticky, .orders.order_form #cart-sticky{
	display: none !important;
}
// cart resume
.cart-resume{
	max-height: 210px;
	max-height: 300px;
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 20px;
	overflow: auto;
	// visibility: visible;
	.row{
		margin: 10px 0;
	}
	.product-image{
		text-align: center;
		img{
			max-width: 75%;
		}
	}
	.product_name{
		margin: 0;
		text-align: center;
		color: #6d6d6d;
		.quantity{
			font-size: 15px;
		}
	}
	.price{
		display: inline-block;
	}
	.discount{
		font-size: 1.3em;
	}
	strong{
		margin: 0 5px 0 10px;
	}
	.text-center{
		margin: 0;
	}
	.quantity span{
		font-size: 1.1em;
	}
}
.side-cart-resume{
	top: -100px;
}
.error-page{
	text-align: center;
}