<?php foreach($discounts as $discount): ?>
	<li><a href="<?php echo $this->Url->build(['controller' => 'productsDiscounts', 'action' => 'view/'.$discount->id]) ?>"><?php echo $discount->discount_name; ?></a></li>
<?php endforeach; ?>