<?php foreach($categories as $category): ?>
	<li><a href="<?php echo $this->Url->build(['controller' => 'categories', 'action' => 'products_category/'.$category->id]) ?>"><?php echo $category->category_name; ?></a></li>
<?php endforeach; ?>