<?php foreach($brands as $brand): ?>
	<li><a href="<?php echo $this->Url->build(['controller' => 'brands', 'action' => 'products_brand/'.$brand->id]) ?>"><?php echo $brand->brand_name; ?></a></li>
<?php endforeach; ?>